Build a regression model.

In [1]:
import pandas as pd

bike_dataframe=pd.read_csv('bike_dataframe.csv')
yelp_dataframe=pd.read_csv('YelpDataframe.csv')
#import the data

In [7]:
import statsmodels.api as sm

In [11]:
bike_dataframe

,const,id,latittude,longitude,free_bikes
0,1.0,2399b74c7c07d3a02e5e2a3e90460b7c,45.511950,-122.614160,0
1,1.0,e9aef274a3bf9dd43ff7e7f7352b250c,45.548276,-122.611164,0
2,1.0,5037e02fd534d0164d7d2d8bcfcaa20c,45.553917,-122.602071,2
3,1.0,97d7a7aeaf214cfedcf658e21189652b,45.516585,-122.616038,0
4,1.0,ff54bba5b85cda833a23610dfc64fddc,45.493337,-122.623397,1
...,...,...,...,...,...
233,1.0,71d1631fc898a831f4244409608e9493,45.517899,-122.660052,8
234,1.0,87e039f7e0de4fb684c6405bc9b14f5f,45.518103,-122.657650,8
235,1.0,013f3d702a2aa7c3898a54be63c5a021,45.498947,-122.637669,1
236,1.0,544d22c8674963f49f89c45c532adc67,45.552358,-122.625588,1
237,1.0,5f03104460d47f692ffcdde3b8ed1ac4,45.570366,-122.636043,5

In [14]:
join_df = bike_dataframe.merge(yelp_dataframe, on='id', how='inner')
plot_data=join_df.groupby(['id','free_bikes']).agg({'distance':'mean', 'reviews':'mean'}).rename(columns={'distance':'avg_distance','reviews':'avg_review'}).sort_values(by = 'avg_distance').reset_index()
plot_data.head()

                                 id  free_bikes  avg_distance  avg_review
0  4340a320c7fb47f4a93d068ef607ed29           1    161.231144      326.30
1  e1ab0ce5d24a113323ec3595bdc83a17           0    179.083139      931.75
2  1c79a810e685de99e6f93606040bbebf           5    213.823918      643.05
3  f50b7bd1c728c9f763dd6bf64654077b          21    215.484219      310.25
4  937122f1db9dba7e6c4f9caededb959b           3    218.395174      799.80

In [15]:
# bike_dataframe= sm.add_constant(bike_dataframe)

lin_reg = sm.OLS(plot_data['avg_review'],plot_data['free_bikes'])

Provide model output and an interpretation of the results.

In [17]:
model = lin_reg.fit()
print_model=model.summary()
print(print_model)

                                 OLS Regression Results
=======================================================================================
Dep. Variable:             avg_review   R-squared (uncentered):                   0.255
Model:                            OLS   Adj. R-squared (uncentered):              0.248
Method:                 Least Squares   F-statistic:                              33.95
Date:                Wed, 13 Dec 2023   Prob (F-statistic):                    7.05e-08
Time:                        10:22:49   Log-Likelihood:                         -790.23
No. Observations:                 100   AIC:                                      1582.
Df Residuals:                      99   BIC:                                      1585.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
free_bikes    68.8757     11.820      5.827      0.000      45.422      92.329
==============================================================================
Omnibus:                       17.058   Durbin-Watson:                   1.142
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               22.833
Skew:                          -0.836   Prob(JB):                     1.10e-05
Kurtosis:                       4.639   Cond. No.                         1.00
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

The low R-squared means it isn't wise to draw strong conclusions. However, the low P-value and positive coefficient does suggest that there is a relationship between the number of bikes at a point and the average number of reviews a restaurant has.

# Stretch

How can you turn the regression model into a classification model?